.jumbotron {
    padding-top: 6rem;
    background-color: #74b9ff;
}

#project {
    background-color: #74b9ff;
}

#project_figma {
    background-color: #74b9ff;
}

section {
    padding-top: 5rem;
}